# Assignment activity 1

### Insert proof of your GitHub repository. This can be a link or screenshot showing your repo.

***My GitHub repository.***
https://github.com/Matteo-Natalini/DA201_Assignment

***My GitHub page portfolio***
https://matteo-natalini.github.io/portfolio/

#

# Assignment activity 2

### Prepare your workstation

In [2]:
import pandas as pd

In [3]:
# Load actual_duration dataset
ad = pd.read_csv('Data/actual_duration.csv')

# Sense-check for ad
print(ad.shape)
print(ad.dtypes)

(137793, 8)
sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [4]:
# View actual_duration dataaset
ad

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730
...,...,...,...,...,...,...,...,...
137788,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,31-60 Minutes,430
137789,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,21-30 Minutes,751
137790,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,16-20 Minutes,921
137791,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,11-15 Minutes,1439
137792,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,1-5 Minutes,1739

In [ ]:
# Check for missing values
ad.isna().sum()

In [ ]:
# Metadata ad
ad.info()

In [ ]:
# Descriptive statistics ad
ad.describe()

In [5]:
# Load appointments_regional dataset
ar = pd.read_csv('Data/appointments_regional.csv')

# Sense-check for ar
print(ar.shape)
print(ar.dtypes)

(596821, 7)
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [6]:
# View dataset
ar

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971
...,...,...,...,...,...,...,...
596816,E54000050,2022-06,Unknown,Unknown,Unknown,2 to 7 Days,21
596817,E54000050,2022-06,Unknown,Unknown,Unknown,22 to 28 Days,8
596818,E54000050,2022-06,Unknown,Unknown,Unknown,8 to 14 Days,28
596819,E54000050,2022-06,Unknown,Unknown,Unknown,More than 28 Days,17
596820,E54000050,2022-06,Unknown,Unknown,Unknown,Same Day,10

In [ ]:
# Metadata ar
ar.info()

In [ ]:
# Descriptive statistics ad
ar.describe()

In [7]:
# Load national_categories dataset
nc = pd.read_excel('Data/national_categories.xlsx')

# Sense-check for nc
print(nc.shape)
print(nc.dtypes)

(817394, 8)
appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [8]:
# View dataset
nc

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08
...,...,...,...,...,...,...,...,...
817389,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Unplanned Clinical Activity,12,2022-06
817390,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinics,4,2022-06
817391,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinical Procedure,92,2022-06
817392,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Routine,4,2022-06
817393,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,19,2022-06

In [ ]:
# Metadata nc

nc.info()

In [ ]:
# Descriptive statistics nc

nc.describe()

##

## Assignment Activity 2: Import and explore the data

**Question 1:** How many locations are there in the data set?

In [9]:
# Determine the number of locations.
loc_cnt = len(nc['sub_icb_location_name'].value_counts())

print("Count of locations: ", loc_cnt)

Count of locations:  106

**Question 2:** What are the five locations with the highest number of records?

In [10]:
# Determine the top five locations based on record count.
loc = nc['sub_icb_location_name'].value_counts()


print('Top 5 Location for number of records:')

loc.head(5)

Top 5 Location for number of records:

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

**Question 3:** How many service settings, context types, national categories, and appointment statuses are there?

In [11]:
# Determine the number of service settings.
ss_cnt = len(nc['service_setting'].value_counts())

print("Count of service settings: ", ss_cnt)

Count of service settings:  5

In [12]:
# Determine the number of context types.
ct_cnt = len(nc['context_type'].value_counts())

print("Count of context type: ", ct_cnt)

Count of context type:  3

In [13]:
# Determine the number of national categories.
nc_cnt = len(nc['national_category'].value_counts())

print("Count of national category: ", nc_cnt)

Count of national category:  18

In [14]:
# Determine the number of appointment status.
as_cnt = len(ar['appointment_status'].value_counts())

print("Count of appointment status: ", as_cnt)

Count of appointment status:  3

##

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

**Question 1:** Between what dates were appointments scheduled?

In [15]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
ad.appointment_date.head()

0    01-Dec-21
1    01-Dec-21
2    01-Dec-21
3    01-Dec-21
4    01-Dec-21
Name: appointment_date, dtype: object

In [16]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.
nc.appointment_date.head()

0   2021-08-02
1   2021-08-02
2   2021-08-02
3   2021-08-02
4   2021-08-02
Name: appointment_date, dtype: datetime64[ns]

In [17]:
# Change the date format of ad['appointment_date'].
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'])

# View the DateFrame.
ad.appointment_date.head()

0   2021-12-01
1   2021-12-01
2   2021-12-01
3   2021-12-01
4   2021-12-01
Name: appointment_date, dtype: datetime64[ns]

In [18]:
# Determine the minimum and maximum dates in the ad DataFrame.
print('The first appointment was the ', ad['appointment_date'].dt.date.min())

print('The last appointment was the ', ad['appointment_date'].dt.date.max())

The first appointment was the  2021-12-01
The last appointment was the  2022-06-30

In [19]:
# Determine the minimum and maximum dates in the nc DataFrame.
print('The first appointment was the ', nc['appointment_date'].dt.date.min())

print('The last appointment was the ', nc['appointment_date'].dt.date.max())

The first appointment was the  2021-08-01
The last appointment was the  2022-06-30

##

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

In [20]:
# For each of these service settings, determine the number of records available for the period and the location.Â 
# Create a subset with filtered data.
nc_subset = nc.loc[(nc['sub_icb_location_name']=='NHS North West London ICB - W2U3Z') &
                   (nc['appointment_date'].between('2022-01-01','2022-06-01', inclusive='both'))]

# View subset
nc_subset

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
800289,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,496,2022-01
800290,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Clinical Triage,19,2022-01
800291,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,1,2022-01
800292,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,16,2022-01
800293,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Planned Clinics,29,2022-01
...,...,...,...,...,...,...,...,...
806220,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Home Visit,4,2022-06
806221,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Routine,27,2022-06
806222,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Unplanned Clinical Activity,626,2022-06
806223,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Acute,224,2022-06
806224,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Clinical Triage,96,2022-06

In [21]:
# User-defined function for categorical count.
def cat_cnt(df1):
    print(df1.value_counts())

# Number of records for the period and the location.
df = nc_subset['service_setting'].astype('category')

# View the output.
cat_cnt(df)

General Practice             2104
Other                        1318
Primary Care Network         1272
Extended Access Provision    1090
Unmapped                      152
Name: service_setting, dtype: int64

##

**Question 3:** Which month had the highest number of appointments?

In [35]:
# Use the dt method with the Series.dt.year and Series.dt.month attributes 
#     to calculate the number of appointments per month in nc

nc.groupby([nc['appointment_date'].dt.year, 
            nc['appointment_date'].dt.month]).sum() \
.sort_values('count_of_appointments', ascending=False)

                                   count_of_appointments
appointment_date appointment_date
2021             11                             30405070
                 10                             30303834
2022             3                              29595038
2021             9                              28522501
2022             5                              27495508
                 6                              25828078
                 1                              25635474
                 2                              25355260
2021             12                             25140776
2022             4                              23913060
2021             8                              23852171

In [ ]:
# ad.groupby([ad['appointment_date'].dt.year, 
#             ad['appointment_date'].dt.month]).sum() \
# .sort_values('count_of_appointments', ascending=False)

**Question 4:** What was the total number of records per month?

In [38]:
# Total number of records per month in nc
nc.groupby([nc['appointment_date'].dt.year, 
            nc['appointment_date'].dt.month]).size()

appointment_date  appointment_date
2021              8                   69999
                  9                   74922
                  10                  74078
                  11                  77652
                  12                  72651
2022              1                   71896
                  2                   71769
                  3                   82822
                  4                   70012
                  5                   77425
                  6                   74168
dtype: int64

In [ ]:
# ad.groupby([ad['appointment_date'].dt.year, 
#             ad['appointment_date'].dt.month]).size()

In [ ]:
#ar.groupby([ar['appointment_month']]).size()